.main,h1 {
    display: flex;
    justify-content: center;
}


.container-table{
    scroll-behavior: auto;
    display: flex;
    overflow-y: auto;

}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

tbody{
        overflow-y: auto;
}

thead {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    font-weight: bold;
    font-size: 1.1em;
}

tbody tr:hover {
    background-color: #f1f1f1;
}


button {
    padding: 0.9em;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    background-color: #00b1bb;
    font-size: 0.9em;
}



input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    margin-right: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }

  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }

button:hover {
    opacity: 0.8;
}

.edit-button{
    background-color: #005bf7; 
}

.add-button{
    background-color: #03c87d; 
}
.delete-button{
    background-color: #ff0000; 
}
.update-button{
    background-color: #005bf7;
}

.btnGalery{
    background-color: #005bf7; 
    margin-left: 10em;
}

.img {
    position: relative;
    width: 300px; /* Ajusta el tamaño de la card */
    height: 300px;
    overflow: hidden;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la card */
    margin: 1em;

}

.img img {
    width: 300px;
    height: 300px;
    display: block;
    object-fit: cover; /* Asegura que la imagen se ajuste bien */
    transition: transform 0.3s ease; /* Animación al pasar el mouse */
}

.img:hover img {
    transform: scale(1.1); /* Zoom en hover */
}

.img div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    color: white;
    padding: 10px;
    text-align: center;
    transition: background 0.3s ease; /* Animación al pasar el mouse */
}

.img:hover div {
    background: rgba(0, 0, 0, 0.7); /* Fondo más oscuro en hover */
}

.img h3 {
    margin: 0;
    font-size: 1.2em;
}

.img p {
    margin: 5px 0 0;
    font-size: 0.9em;
    opacity: 0.8; /* Texto más tenue */
}



.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.carousel {
    display: flex;
    gap: 20px; /* Espacio entre las cartas */
    transition: transform 0.3s ease-in-out;
}

.carousel .img {
    flex: 0 0 auto; /* Evita que las cartas se redimensionen */
}